.wr-breadcrumbs {
    .container {
        border-bottom: 3px solid #1C2F50;
        padding-top: 18px;
        padding-bottom: 18px;
    }
    li {
        position: relative;
        margin-right: 22px;
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -14px;
            width: 5px;
            height: 9px;
            background-image: url("../img/icons/icon-breadcrumbs.png");
            background-size: cover;
        }
    }
    a {
        color: $regal-blue;
    }
    .active-tab {
        a {
            color: $waikawa-grey;
        }
        &:after {
            content: none;
        }
    }
}